@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010316;
  --foreground: #171717;
}

@font-face {
  font-family: Roboto;
  src: url('../app/fonts/Roboto-Light.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #010316;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Roboto, Arial, Helvetica, sans-serif;
  
}

@media (min-width: 800px) {
  *{
    max-width: 900px;
    margin: 0 auto;
  }
  :root {
    margin-block:5%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
